@charset "UTF-8";
/*CSS DOCUMENT*/
*{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 900px;
    height: 1110px;
    background: orange;
    margin: auto;
}
header{
    width: 900px;
    height: 100px;
    background: red;
}
header img{
    width: 100px;
    height: auto;
    float: left;
    padding: 9px;
}
header h1{
    text-align: center;
}
h1{
    color: aliceblue;
    text-align: center;
    line-height: 80px;
}
nav{
    width: 900px;
    height: 50px;
    background: wheat;
    text-align: center;
}
li{
    display: inline-block;
    padding: 15px;
    font-size: 25px;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
}
.union{
    float: left;
}
.seccion1{
    width: 590px;
    height: 420px;
    background: cadetblue;
}
.seccion1 p{
        text-align: justify;
        padding: 10px;
        color: black;
        font-size: 14px;
}
.seccion1 img{
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 15px;
}
.seccion2{
    width: 590px;
    height: 540px;
    background: peru;
}
.seccion2 img{
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 15px;
}
.seccion2 p{
    text-align: justify;
    padding: 10px;
    color: black;
    font-size: 14px;
}
aside{
    width: 300px;
    height: 960px;
    background: salmon;
    float: right;
}
aside img{
    width: 250px;
    height: auto;
    margin: 20px 10px;
}
footer{
    width: 900px;
    height: 50px;
    background: green;
    clear: both;
}
footer p{
    color: aliceblue;
    text-align: center;
    line-height: 45px;
}